@charset "utf-8";

body  {
	background: #bbb;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Dosis', cursive;
}
#header {
	background-color: #fc0;
	padding: 0px;
	height: 235px;
	position: relative;
}
#wrapper {
	width: 800px;
	background: #fff;
	margin: 0 auto;
	text-align: left;
}
#wrapper #contactbutton {
	position: absolute;
	left: 650px;
	top: 1px;
}
#mainContent {
	background-color: #cf9;
	padding: 0px;
	height: 1000px;
	width: 530px;
	float: left;
}
#mainContent p {
	padding-left: 10px;
}
#mainContent img {
	padding-right: 5px;
}
#innerContent {
	background-color: #606;
	float: left;
	color: #FFF;
	}
#innerContent img {
	float: left;
}
#sidebar {
	background-color: #636;
	padding: 0px;
	width: 268px;
	float: right;
	height: 1000px;
}
#sidebar img {
	display: block;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 1px;
	margin-left: auto;
	width: 240px;
	height: 135px;
}
#sidebar img.gallery {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	border: thick solid #aaa;
	cursor: pointer;
}
#Footer {
	background-color: #999;
	margin: 0px;
	padding: 0px;
	clear: both;
}
.clear {
	clear: both;
}